// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  position: relative;
}

.footer__parallax {
  position: absolute;
  bottom: 70px;
  right: calc(50% - 720px) ;
}

.footer__container {
  padding: 33px 0 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  @media (max-width:$md3+px){
    padding: 105px 0 44px;
    flex-direction: column; 
  }
}

.footer__copy {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $text-black;
}

.footer__author {
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: $text-black;
}