.hero {
  min-height: 100vh;
  padding-top: 197px;
  background-color: #f0f5fb;

  position: relative;

  @media (max-width:$md2+px){
    padding-top: 300px;
  }
}

.hero__container {
  position: relative;
  z-index: 1;
}

.hero__title {
  margin-bottom: 18px;
}

.hero__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  margin: 0 auto;
  color: $text-black;

  max-width: 625px;

  @media (max-width:$md3+px){
     font-size: 14px; 
  }
}

// PARALLAX
// --------------------------


