.hero {
  min-height: 100vh;
  padding-top: 197px;
  background-color: #F0F5FB;
}

.hero__title {
  margin-bottom: 18px;
}

.hero__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  margin: 0 auto;
  color: $text-black;

  max-width: 625px;
}
