.social {
  padding: 40px 0;
  margin: 120px 0 127px;

  background-image: url(../../images/photo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width:$md3+px){
    margin: 80px 0 80px; 
  }
}

.social__box {
  padding: 20px;
  margin: 0 auto;
  background: linear-gradient(45.04deg, #fd9924 -51.05%, #f65b16 134.89%);
  box-shadow: 0px 70px 90px rgba(253, 55, 36, 0.2),
    0px 35px 50px rgba(253, 55, 36, 0.2), 0px 20px 25px rgba(253, 55, 36, 0.2);
  border-radius: 15px;

  max-width: 480px;
  min-height: 180px;

  @media (max-width: $md3+px) {
    min-height: 140px;
    max-width: 375px;
    
  }

  @media (max-width:$md4+px){
    margin: 0 35px;
  }
}

.social__instagram {
  padding: 55px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;

  //   opacity: 0.1;
  border: 2px solid #f97a31;
  border-radius: 15px;

  a {
    color: inherit;
    font-weight: 700;
  }

  @media (max-width: $md3+px) {
    font-size: 18px;
    padding: 40px;
  }
}
