.footer-parallax {
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 8%;
  width: 100%;

  @media (max-width:$md3+px){
	bottom: 0;
    left: -145px;
  }
}

.footer-parallax__1 {
  position: absolute;

  left: 0;
  bottom: 0;
  @media (max-width:$md3+px){
	display: none !important; 
}
}

.footer-parallax__2 {
  position: absolute;
  left: 72% !important;
  bottom: 0;
  @media (max-width:$md3+px){
	display: none !important; 
}
}

.footer-parallax__11 {
  position: absolute;
  left: 23% !important;
  bottom: 0;

  img {
    position: absolute;
    bottom: -20px;
  }

  @media (max-width:$md3+px){
	left: 20% !important;
  }

  @media (max-width:$md4+px){
	left: 10% !important;
  }
}

.footer-parallax__5 {
	position: absolute;
	left: 87% !important;
	bottom: 0;

	img {
		position: absolute;
		bottom: 185px;
	}
	@media (max-width:$md3+px){
		display: none !important; 
  }
}

.footer-parallax__3 {
	position: absolute;
	left: 0% !important;
	@media (max-width:$md3+px){
		display: none !important; 
  }
}

.footer-parallax__4 {
	position: absolute;
	bottom: 0;
	img {
		position: absolute;
		bottom :45px;
	}
	@media (max-width:$md3+px){
		display: none !important; 
  }
}


.footer-parallax__6 {
	position: absolute;
	left: 15% !important;
	bottom: 90px;
	img {
		position: absolute;
		bottom :45px;
	}
	@media (max-width:$md3+px){
		display: none !important; 
  }
}

.footer-parallax__7 {
	position: absolute;
	left: 20% !important;
	bottom: 130px;
	img {
		position: absolute;
		bottom :45px;
	}
	@media (max-width:$md3+px){
		display: none !important; 
  }
}

.footer-parallax__8 {
	position: absolute;
	left: 20% !important;
	bottom: 40px;
	img {
		position: absolute;
		bottom :45px;
	}
	@media (max-width:$md3+px){
		display: none !important; 
  }
}

.footer-parallax__9 {
	position: absolute;
	left: 80% !important;
	bottom: 40px;
	img {
		position: absolute;
		bottom :45px;
	}
	@media (max-width:$md3+px){
		display: none !important; 
  }
}

.footer-parallax__10 {
	position: absolute;
	left: 73% !important;
	bottom: 20px;
	img {
		position: absolute;
		bottom :45px;
	}

	@media (max-width:$md3+px){
		 display: none !important; 
	}
}