/**
 * Basic typography style for copy text
 */

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: $text-black;
}
